/* my site.css file */

/*My banner*/
.banner {
    text-align: center;
}
.banner .title h1,h2 {
    display: inline-block;
}
.banner .work_status {
    text-align: center;
}
.banner .work_status h3,h4 {
    display: inline-block;
}
.banner .work_status h4 {
    font-style: italic;
}

.banner .work_status span {
    font-weight: bold;
    color: red;
}

.google_searchbar {
    width: 30%;
    margin: 0 auto;
}

.google_searchbar small {
    padding: 0px;
    float: left;
}
.google_searchbar .bar {
    /*future customizations*/
}

.resume_tech_div {
    width: 80%; 
    margin: 0 auto; 
    padding: 10px;
}
.resume_tech_div h3 {
    text-indent: 0em;
}
.resume_tech_div div {
    margin: 0 auto;
    margin-left: 5em;
    margin-right: 5em;
}
.resume_work_div {
    width: 100%;
}
.resume_employer {
    width: 100%;
    margin: 0 auto;
    /*text-align: left;*/
    /*background-color: yellow;*/
}
.resume_employer td {
    width: 50%;
}
.resume_employer .employer_name {
    padding: 10px;
    width: 50%;
    font-weight: bold;
    font-size: 120%;
}
.employer_desc {
    font-style: italic;
    margin-left: 15em;
    margin-right: 15em;
}
.work_list {
    margin-left: 10em;
    margin-right: 10em;
}
.work_list li {
    padding: 5px;
}

@media all and (max-width: 1280px)
{
    .google_searchbar {
        width: 50%;
        margin: 0 auto;
    }
}
@media all and (max-width: 768px)
{
    .google_searchbar {
        width: 80%;
        margin: 0 auto;
    }
}
@media all and (max-width: 400px)
{
    .google_searchbar {
        width: 100%;
        margin: 0 auto;
    }
}

}
