/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.wrapper {
    /*
     *position: relative;
     *width: 768px;
     *margin: auto;
     */
}
.banner{
    display: inline;
}

.banner figure {
    float: left;
    width: 10%;
}

.banner h1,h2 {
    /*float: center;*/
    display: inline;
    /*text-align: center;*/
}

.banner h3 {
    display: inline-block;
    text-align: center;
}

.banner img {
    float: left;
    /*border: 1px solid black;*/
    /*display: show;*/
}

.banner span {
    font-weight: bold;
    color: red;
}

@media only screen and (max-width: 480px) {
    .banner img {
        display: none;
    }

    .center_text {
        text-align: center;
    }
}

/*
 *@media only screen and (min-width: 1024px) {
 *    .wrapper {
 *        position: relative;
 *        width: 80%;
 *        margin: auto;
 *    }
 *}
 */

@media only screen and (max-width: 768px) {
    .banner{
        position: relative;
        width: 768px;
        margin: auto;
    }

    .banner img {
        display: show;
        float: left;
    }

    .banner figure {
        float: left;
        width: 20%;
    }

    .banner h1,h2 {
        /*float: center;*/
        display: inline-block;
    }

    .center_text {
        text-align: center;
    }

}


figure.logo_figure {
    float: left;
    width: 100%;
}


table.logo_table {
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    width: 100%;
    background: white;
    /*border: 1px solid black;*/
}

table.logo_table td {
    /*border: 1px solid black;*/
    padding: 10px;
}


table.work_status {
    /*border: 1px solid black;*/
    width: 100%
}

table.work_status td {
    /*border: 1px solid red;*/
    margin: 0 auto; 
    text-align: center;
    padding: 10px;
}

table.work_status .bold_red { 
    font-weight: bold;
    color: red;
}

 /*Required to make image fluid in IE */
img:not(.png) {
  width: 100%;
}

table.welcome_table {
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    width: 100%;
    background: white;
    /*border: 5px solid black;*/

    /*
    padding: 0;
     *width: 100px;
     *height: 100px;
     *margin: 50px;
     */
    /*
    box-shadow: -10px 8px 8px -8px black, 10px 8px 8px -8px black;
    box-shadow: -10px 8px 8px -8px black, 10px -8px 8px -8px blue;
    box-shadow: -10px 8px 8px -8px black, 10px 8px 8px -8px black;
    box-shadow:1px 0px 8px 1px #2b2b2b inset; 
    box-shadow:8px 8px 15px 2px #404040; 
    border-width: 12px;
    border-style: outset;
    border-color: #8e9190;
    padding: 0.5rem;
    */
}

/*
 *table.logo_table td {
 *    border: 1px solid red;
 *}
 */

table.welcome_table td {
    /*border: 1px solid red;*/
    padding: 10px 15px;
}

table.welcome_table p {
    margin: 0 auto; 
    text-align: center;
    font-weight: bold;
    border: 10px outset #8e9190;
    width: 80%;
}

footer.copyright {
    text-align: left;
    font-style: italic;
}

/* site nav bar */
nav {
    margin: 0 auto; 
    text-align: center;
    border:1px solid black; 
}

nav ul ul {
    display: none;
}

nav ul li:hover > ul {
    display: block;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: top;
}

nav ul li {
    float: left;
    margin: 0;
    padding: 0;
}

nav ul li:hover a {
    color: #000000;
}

nav ul li a {
    display: block; 
    padding: 10px 15px;
    color: #000000;
    text-decoration: none;
    background-color: white;
/*
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
*/
}       
nav li ul a {
    border-right: 1px solid #ccc; 
    border-left: 1px solid #ccc; 
    /*background-color: white;*/
    background-color: lightgrey;
    box-shadow: 10px 5px 5px red;
    /*box-shadow: inset 0 0 1em gold, 0 0 1em red;*/
}
        
nav ul ul {
    border-radius: 0px;
    padding: 0;
    position: absolute;
}

nav ul ul li {
    float: none; 
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    position: relative;
}

nav ul ul li a {
    color: #000000;
}

nav ul ul li a:hover {
    color: #666666;
}
        
nav ul ul ul {
    position: absolute;
    top:0;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
